@tailwind base;
@tailwind components;
@tailwind utilities;

img.align-bottom.w-8.h-8 {
    width: 4.5rem;
    height: 4.5rem;
    margin: 4px;
    object-fit: contain !important;
}
.aside-column {
    position: relative;
}
.aside {
    text-align: center;
}
.aside-name {
    font-weight: bold;
}
.aside-scope {
    height: 80px;
    line-height: 80px;
    margin: 15px;
}
.aside-content {
    margin-top: 10px;
}
.aside-mini-selects {
    height: 200px;
    overflow: auto;
}
.aside-selects {
    height: 300px;
    overflow: auto;
}
.aside-content select {
    width: 90%;
    padding: 0.2rem;
}
.aside-image {
    max-height: 250px;
}
.scope-image {
    height: 40px;
    margin: 15px;
}
.scope-image>img {
    height: 40px;
    margin: 10px;
}
.aside-image>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}
.aside-desc {
    height: 140px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    white-space: pre-line;
    overflow: auto;
}
.aside-actions {
    background-color: antiquewhite;
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    margin-top: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.aside-actions>button {
    margin-left: 15px;
}
.aside.relative.border {
    text-align: center !important;
}
.aside.relative.border>img.block.w-full {
    margin: auto !important;
    width: auto !important;
}
.control-btn {
    flex-shrink:0;
    width:1.5em;
    height:1.5em;
    font-size:24px;
    display: inline;
    padding:.25em;
    justify-content:center;
    align-items:center;
    border-radius:8px;
    background:rgba(255,255,255,.8);
    transition:.5s all;
    cursor: pointer;
    margin: auto auto 10px;
}
.control-btn:disabled {
    cursor: default;
}
.control-btn:hover {
    background:rgba(255,255,255,1);
}
.control-btn .material-icons {
    font-size:1em;
    line-height:1em
}
.control-text {
    vertical-align: super;
}
.visible {
    cursor: pointer;
}
.control-active {
    border: 3px solid #ff00ea !important;
}
.board-column {
    height: 88vh;
}
.block-title {
    font-weight: bold;
    font-size: 24px;
}
.active-note {
    --tw-ring-offset-width: 7px;
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    border-radius: 0.375rem;
}
